html {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #ordernmbr {
    font-size: 20px;
  }
}
