main {
  width: 100%;
  background-color: white;
  padding-bottom: 70px;
  margin-top: 5rem;
  z-index: -10;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.artist,
.album,
.description,
.price,
.year,
.genre {
  justify-content: space-evenly;
  align-items: center;
  line-height: 0.4;
  text-align: left;
  padding-left: 1rem;
}

.purchase-button,
.info-button {
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  font-size: 10pt;
  margin: 10px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: transform 0.2s;
  justify-content: center;
  align-items: center;
}

.purchase-button:hover,
.info-button:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px rgb(124, 121, 121);
}

.listen-button {
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  font-size: 10pt;
  margin: 10px;
  margin-bottom: 20px;
  background-color: black;
  color: #1db954;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: transform 0.1s;
  justify-content: center;
  align-items: center;
}

.listen-button:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px rgb(124, 121, 121);
}

.product-image {
  max-width: 21rem;
  margin-bottom: 0.8rem;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.product-image:hover {
  transform: scale(1.03);
}

.artist {
  font-size: 15pt;
  font-weight: 700;
}

.fa-spotify {
  padding: 3px;
}

.button-offcanvas {
  border: none;
}
