footer {
  height: 16rem;
  width: 100%;
  background-color: yellow;

  .news-container {
    display: flex;
    justify-content: center;
  }
  .info {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    padding: 10px;
  }
}
