footer {
  height: 16rem;
  width: 100%;
  background-color: yellow;

  .news-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    padding: 10px;
  }
}
.fa-linkedin-square {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.fa-github-square {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
.fa-envelope-square {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
@media screen and (min-width: 601px) {
  .news-container {
    display: flex;
    justify-content: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
  }
}
