nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6rem;
  position: fixed;
  z-index: 3;
  background-color: white;
}

.nav-logo {
  width: 3rem;
  top: 0;
  left: 0;
  margin-left: 1rem;
  display: none;
}

#link-container {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-link {
  margin-right: -1rem;
  color: black;
  margin: 1rem;
}

.cart-image {
  width: 2rem;
  top: 0;
  right: 0;
  margin-top: -0.5rem;
  margin-right: 2rem;
  z-index: 5;
}
#cartCount {
  z-index: 6;
  border: none;
  font-size: 0.8rem;
  right: 0;
  margin-top: -1rem;
  margin-right: 1.8rem;
  background-color: yellow;
  border-radius: 100%;
  position: absolute;
}
