header {
  height: 5rem;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1;
}

.cart {
  display: flex;
  width: 2rem;
  margin-right: 1rem;
}

.logo {
  width: 4rem;
  margin-left: 1rem;
}

#hamnav {
  justify-content: center;
  align-items: center;
  position: relative;
  letter-spacing: 0.2rem;
}

#hamitems a {
  font-size: 1rem;
  padding: 10px;
  color: black;
  text-decoration: none;
}

#hamitems a:hover {
  color: gray;
}

@media screen and (max-width: 600px) {
  #hamnav {
    width: 75%;
  }

  #hamitems {
    display: flex;
    position: initial;
  }

  .logo {
    width: 10px;
    margin-left: 25px;
  }

  .cart {
    display: flex;
    width: 1.3rem;
    margin-right: 25px;
  }

  .logo {
    display: none;
  }

  #hamitems a {
    font-size: 0.7rem;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  #hamitems a:hover {
    background-color: gray;
  }

  #hamnav label,
  #hamburger {
    display: none;
  }
}
