#shopping-cart-offcanvas {
  //cart-container
}
.overflow-auto {
  height: auto;
}
.offcanvas-end {
  height: 100vh;
  display: flex;
}

.cart-item-offcanvas {
  //cart-product-container
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  border-bottom: 1px solid gray;
}
.product-image-offcanvas {
  width: 51px;
  height: 50px;
}
.button-offcanvas {
  background-color: white;
}
.artist-offcanvas {
  width: 70%;
  background-color: white;
  font-weight: 700;
  font-size: 0.8rem;
  color: black;
}
.album-offcanvas {
  height: 10%;
  width: 70%;
  background-color: white;
  font-size: 0.8rem;
  color: black;
}
.article-offcanvas {
  width: 70%;
  background-color: white;
  font-size: 0.6rem;
  color: black;
}
.price-offcanvas {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.048);
  padding: 0;
  color: black;
}
.remove-from-offcanvas {
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  font-size: 10pt;
  margin: 5px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: transform 0.2s;
}
.remove-from-offcanvas:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px rgb(124, 121, 121);
}
.purchase-button-offcanvas {
  height: 2rem;
  width: 90%;
  font-weight: 700;
  font-size: 10pt;
  margin: 5px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: transform 0.2s;
  justify-content: center;
  align-items: center;
}
.purchase-button-offcanvas:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px rgb(124, 121, 121);
}
.redirect {
  text-decoration: none;
  color: black;
}
.button-offcanvas {
  background-color: white;
}
#return-to-start {
}
