// #checkout-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }
// .shopping-cart {
// }
.return-to-start {
  position: fixed;
  border: 1px solid red;
}

.cart-item {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  gap: 3px;
  list-style: none;
  border-bottom: 1px solid gray;
}

.product-image-cart {
  width: 100px;
  height: 100px;
}
.artist-cart {
  width: 100%;
  height: 100%;
  background-color: white;
}
.album-cart {
  width: 100%;
  background-color: white;
}
.article-cart {
  width: 100%;
  background-color: white;
}
.price-cart {
  width: 100%;
  background-color: white;
}
.remove-from-cart {
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  font-size: 10pt;
  margin: 5px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: transform 0.2s;
}
.remove-from-cart:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px rgb(124, 121, 121);
}

//Checkout
// body {
//   font-family: Arial;
//   font-size: 17px;
//   padding: 8px;
// }

  h3{
    display: flex;
    justify-content: center;
  }

  .icon-container{
    font-size: 2rem;
    display: flex;
  }
  .container-pay{
    display: flex;
  }
  .card-symbols{
    visibility: hidden;

  }
input{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 3px;

}

.staking-div{
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #0468aa;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #41a0a0;
}


@media screen and (min-width: 803px){
  /* Stor-diven */
#identity-div{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

#payment-container{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;

}
#payment-div{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;


}
.card-symbols{
  display: flex;
  flex-direction: row;
  visibility: visible;
}

input{
  width: 200px;
  margin-bottom: 10px;
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 3px;

}
.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 440px;
}

.checkbox-input{
  width: auto;
}

.name-details{
  display: flex;
  flex-direction: row;
}
.staking-div{
  display: flex;
  flex-direction: column;
}
.input-two{
  width: 160px;

}
.zip{
  width: 50px;
  margin-left: 20px;
}

#lname, #zip{
  margin-left: 20px;
}

.text-move{
  margin-left: 20px;
}

.payment-details{
  width: 50px;
}

#year{
  margin-left: 10px;
}

.btn {
  background-color: #1376b8;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 80%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #2862a5;
}

.card-symbols{
  display: flex;
}
.icon-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  font-size: 2rem;
}

.container-pay{
  display: flex;
}

.fab{
  margin: 5px;
}

#cvv{
  width: 25px;
}

.cvv{
  margin-left: 10px;
}
#icons-div{
  display: flex;
  height: 64px;
}

}
