@use "./elements/header-footer/header";
@use "./elements/startpage/hero";
@use "./elements/startpage/feed";
@use "./elements/header-footer/footer";
@use "./elements/checkout/checkout.scss";
@use "./elements/product-description/description-feed";
@use "./elements/header-footer/cart-offcanvas";
@use "./elements/confirmation/confirmation";
// @import "mixins";
// @use "./elements/startpage/cart-offcanvas";
html {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
